@import "tailwindcss";

body::-webkit-scrollbar {
  display: none;
}
textarea::-webkit-scrollbar {
  display: none;
}
#scrollhide::-webkit-scrollbar {
  display: none;
}
.body-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #030712;

  background-image: linear-gradient(
      rgba(0, 255, 255, 0.03) 1px,
      transparent 90px
    ),
    linear-gradient(90deg, rgba(0, 255, 255, 0.03) 1px, transparent 80px);
  background-size: 50px 50px;

  overflow: hidden;
}
